<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		<link
			href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav
			class="
				bg-blue-600
				text-white
				px-12
				py-8
				shadow-lg
				flex
				justify-between
				mb-8
			"
		>
			<a href="">Todo or not todo</a>
			<div>
				{% if user.is_authenticated %}
				<a href="{% url 'accounts_app:logout' %}">Logout</a>
				{% else %}
				<a href="{% url 'accounts_app:login' %}" class="mr-10">Login</a>
				<a href="{% url 'accounts_app:sign_up' %}">Sign up</a>
				{% endif %}
			</div>
		</nav>
		<main class="container p-4 mx-auto">
			{% block content %} {% endblock %}
		</main>
	</body>
</html>
